USE [StorageRH]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [FK_dbo.Users_dbo.Employees_Employee_Id]
GO
ALTER TABLE [dbo].[PersonLinkedWorkingExperiences] DROP CONSTRAINT [FK_dbo.PersonLinkedWorkingExperiences_dbo.EmployeeDetails_EmployeeDetail_EmployeeId]
GO
ALTER TABLE [dbo].[PersonLinkedWorkingExperiences] DROP CONSTRAINT [FK_dbo.PersonLinkedWorkingExperiences_dbo.ApplicantDetails_ApplicantDetail_ApplicantId]
GO
ALTER TABLE [dbo].[PersonLinkedGradings] DROP CONSTRAINT [FK_dbo.PersonLinkedGradings_dbo.EmployeeDetails_EmployeeDetail_EmployeeId]
GO
ALTER TABLE [dbo].[PersonLinkedGradings] DROP CONSTRAINT [FK_dbo.PersonLinkedGradings_dbo.ApplicantDetails_ApplicantDetail_ApplicantId]
GO
ALTER TABLE [dbo].[PersonLinkedDetails] DROP CONSTRAINT [FK_dbo.PersonLinkedDetails_dbo.EmployeeDetails_EmployeeDetail_EmployeeId]
GO
ALTER TABLE [dbo].[PersonLinkedDetails] DROP CONSTRAINT [FK_dbo.PersonLinkedDetails_dbo.ApplicantDetails_ApplicantDetail_ApplicantId]
GO
ALTER TABLE [dbo].[Permissions] DROP CONSTRAINT [FK_dbo.Permissions_dbo.Users_User_Id]
GO
ALTER TABLE [dbo].[JobOffers] DROP CONSTRAINT [FK_dbo.JobOffers_dbo.EmployeePositions_PositionId]
GO
ALTER TABLE [dbo].[Employees] DROP CONSTRAINT [FK_dbo.Employees_dbo.EmployeePositions_PositionId]
GO
ALTER TABLE [dbo].[Employees] DROP CONSTRAINT [FK_dbo.Employees_dbo.Departments_DepartmentId]
GO
ALTER TABLE [dbo].[EmployeePositions] DROP CONSTRAINT [FK_dbo.EmployeePositions_dbo.Departments_Department_Id]
GO
ALTER TABLE [dbo].[CourseQuorums] DROP CONSTRAINT [FK_dbo.CourseQuorums_dbo.Courses_CourseId]
GO
ALTER TABLE [dbo].[Applicants] DROP CONSTRAINT [FK_dbo.Applicants_dbo.JobOffers_JobOffer_Id]
GO
/****** Object:  Index [IX_Employee_Id]    Script Date: 6/12/2016 11:28:25 AM ******/
DROP INDEX [IX_Employee_Id] ON [dbo].[Users]
GO
/****** Object:  Index [IX_EmployeeDetail_EmployeeId]    Script Date: 6/12/2016 11:28:25 AM ******/
DROP INDEX [IX_EmployeeDetail_EmployeeId] ON [dbo].[PersonLinkedWorkingExperiences]
GO
/****** Object:  Index [IX_ApplicantDetail_ApplicantId]    Script Date: 6/12/2016 11:28:25 AM ******/
DROP INDEX [IX_ApplicantDetail_ApplicantId] ON [dbo].[PersonLinkedWorkingExperiences]
GO
/****** Object:  Index [IX_EmployeeDetail_EmployeeId]    Script Date: 6/12/2016 11:28:25 AM ******/
DROP INDEX [IX_EmployeeDetail_EmployeeId] ON [dbo].[PersonLinkedGradings]
GO
/****** Object:  Index [IX_ApplicantDetail_ApplicantId]    Script Date: 6/12/2016 11:28:25 AM ******/
DROP INDEX [IX_ApplicantDetail_ApplicantId] ON [dbo].[PersonLinkedGradings]
GO
/****** Object:  Index [IX_EmployeeDetail_EmployeeId]    Script Date: 6/12/2016 11:28:25 AM ******/
DROP INDEX [IX_EmployeeDetail_EmployeeId] ON [dbo].[PersonLinkedDetails]
GO
/****** Object:  Index [IX_ApplicantDetail_ApplicantId]    Script Date: 6/12/2016 11:28:25 AM ******/
DROP INDEX [IX_ApplicantDetail_ApplicantId] ON [dbo].[PersonLinkedDetails]
GO
/****** Object:  Index [IX_User_Id]    Script Date: 6/12/2016 11:28:25 AM ******/
DROP INDEX [IX_User_Id] ON [dbo].[Permissions]
GO
/****** Object:  Index [IX_PositionId]    Script Date: 6/12/2016 11:28:25 AM ******/
DROP INDEX [IX_PositionId] ON [dbo].[JobOffers]
GO
/****** Object:  Index [IX_PositionId]    Script Date: 6/12/2016 11:28:25 AM ******/
DROP INDEX [IX_PositionId] ON [dbo].[Employees]
GO
/****** Object:  Index [IX_DepartmentId]    Script Date: 6/12/2016 11:28:25 AM ******/
DROP INDEX [IX_DepartmentId] ON [dbo].[Employees]
GO
/****** Object:  Index [IX_Department_Id]    Script Date: 6/12/2016 11:28:25 AM ******/
DROP INDEX [IX_Department_Id] ON [dbo].[EmployeePositions]
GO
/****** Object:  Index [IX_CourseId]    Script Date: 6/12/2016 11:28:25 AM ******/
DROP INDEX [IX_CourseId] ON [dbo].[CourseQuorums]
GO
/****** Object:  Index [IX_JobOffer_Id]    Script Date: 6/12/2016 11:28:25 AM ******/
DROP INDEX [IX_JobOffer_Id] ON [dbo].[Applicants]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/12/2016 11:28:25 AM ******/
DROP TABLE [dbo].[Users]
GO
/****** Object:  Table [dbo].[UserPermissions]    Script Date: 6/12/2016 11:28:25 AM ******/
DROP TABLE [dbo].[UserPermissions]
GO
/****** Object:  Table [dbo].[PersonLinkedWorkingExperiences]    Script Date: 6/12/2016 11:28:25 AM ******/
DROP TABLE [dbo].[PersonLinkedWorkingExperiences]
GO
/****** Object:  Table [dbo].[PersonLinkedGradings]    Script Date: 6/12/2016 11:28:25 AM ******/
DROP TABLE [dbo].[PersonLinkedGradings]
GO
/****** Object:  Table [dbo].[PersonLinkedDetails]    Script Date: 6/12/2016 11:28:25 AM ******/
DROP TABLE [dbo].[PersonLinkedDetails]
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 6/12/2016 11:28:25 AM ******/
DROP TABLE [dbo].[Permissions]
GO
/****** Object:  Table [dbo].[JobOffers]    Script Date: 6/12/2016 11:28:25 AM ******/
DROP TABLE [dbo].[JobOffers]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 6/12/2016 11:28:25 AM ******/
DROP TABLE [dbo].[Employees]
GO
/****** Object:  Table [dbo].[EmployeePositions]    Script Date: 6/12/2016 11:28:25 AM ******/
DROP TABLE [dbo].[EmployeePositions]
GO
/****** Object:  Table [dbo].[EmployeeDetails]    Script Date: 6/12/2016 11:28:25 AM ******/
DROP TABLE [dbo].[EmployeeDetails]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 6/12/2016 11:28:25 AM ******/
DROP TABLE [dbo].[Departments]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 6/12/2016 11:28:25 AM ******/
DROP TABLE [dbo].[Courses]
GO
/****** Object:  Table [dbo].[CourseQuorums]    Script Date: 6/12/2016 11:28:25 AM ******/
DROP TABLE [dbo].[CourseQuorums]
GO
/****** Object:  Table [dbo].[Catalogs]    Script Date: 6/12/2016 11:28:25 AM ******/
DROP TABLE [dbo].[Catalogs]
GO
/****** Object:  Table [dbo].[Applicants]    Script Date: 6/12/2016 11:28:25 AM ******/
DROP TABLE [dbo].[Applicants]
GO
/****** Object:  Table [dbo].[ApplicantDetails]    Script Date: 6/12/2016 11:28:25 AM ******/
DROP TABLE [dbo].[ApplicantDetails]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 6/12/2016 11:28:25 AM ******/
DROP TABLE [dbo].[__MigrationHistory]
GO
USE [master]
GO
/****** Object:  Database [StorageRH]    Script Date: 6/12/2016 11:28:25 AM ******/
DROP DATABASE [StorageRH]
GO
/****** Object:  Database [StorageRH]    Script Date: 6/12/2016 11:28:25 AM ******/
CREATE DATABASE [StorageRH] ON  PRIMARY 
( NAME = N'StorageRH', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\StorageRH.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'StorageRH_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\StorageRH_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StorageRH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StorageRH]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 6/12/2016 11:28:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ApplicantDetails]    Script Date: 6/12/2016 11:28:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicantDetails](
	[ApplicantId] [int] NOT NULL,
	[GradingLvlId] [int] NOT NULL,
	[ExpectedSalary] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.ApplicantDetails] PRIMARY KEY CLUSTERED 
(
	[ApplicantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Applicants]    Script Date: 6/12/2016 11:28:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Applicants](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](11) NULL,
	[Status] [int] NOT NULL,
	[ApplicationDate] [datetimeoffset](7) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[LastName] [nvarchar](200) NULL,
	[BirthPlace] [nvarchar](200) NULL,
	[Nationality] [nvarchar](50) NULL,
	[BirthDate] [datetimeoffset](7) NOT NULL,
	[Sex] [int] NOT NULL,
	[Address] [nvarchar](max) NULL,
	[PhoneHouse] [nvarchar](max) NULL,
	[PhoneCell] [nvarchar](max) NULL,
	[ReferencedByEmployeeCode] [nvarchar](5) NULL,
	[JobOffer_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Applicants] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Catalogs]    Script Date: 6/12/2016 11:28:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Catalogs](
	[Category] [nvarchar](10) NOT NULL,
	[SubCategoryId] [int] NOT NULL,
	[Value] [nvarchar](500) NULL,
 CONSTRAINT [PK_dbo.Catalogs] PRIMARY KEY CLUSTERED 
(
	[Category] ASC,
	[SubCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CourseQuorums]    Script Date: 6/12/2016 11:28:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseQuorums](
	[CourseId] [int] NOT NULL,
	[EmployeeId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.CourseQuorums] PRIMARY KEY CLUSTERED 
(
	[CourseId] ASC,
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Courses]    Script Date: 6/12/2016 11:28:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[StartDate] [datetimeoffset](7) NOT NULL,
	[EndDate] [datetimeoffset](7) NOT NULL,
	[Capacity] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Courses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Departments]    Script Date: 6/12/2016 11:28:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Description] [nvarchar](200) NULL,
 CONSTRAINT [PK_dbo.Departments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EmployeeDetails]    Script Date: 6/12/2016 11:28:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeDetails](
	[EmployeeId] [int] NOT NULL,
	[Salary] [decimal](18, 2) NOT NULL,
	[GradingLvlId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.EmployeeDetails] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EmployeePositions]    Script Date: 6/12/2016 11:28:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeePositions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Description] [nvarchar](500) NULL,
	[PositionMaxSalary] [decimal](18, 2) NOT NULL,
	[PositionMinSalary] [decimal](18, 2) NOT NULL,
	[Department_Id] [int] NULL,
 CONSTRAINT [PK_dbo.EmployeePositions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Employees]    Script Date: 6/12/2016 11:28:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](5) NULL,
	[RegisteredDate] [datetimeoffset](7) NOT NULL,
	[Status] [int] NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[Identification] [nvarchar](11) NULL,
	[Name] [nvarchar](200) NULL,
	[LastName] [nvarchar](200) NULL,
	[BirthPlace] [nvarchar](200) NULL,
	[Nationality] [nvarchar](50) NULL,
	[BirthDate] [datetimeoffset](7) NOT NULL,
	[Sex] [int] NOT NULL,
	[Address] [nvarchar](max) NULL,
	[PhoneHouse] [nvarchar](max) NULL,
	[PhoneCell] [nvarchar](max) NULL,
	[PositionId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[JobOffers]    Script Date: 6/12/2016 11:28:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobOffers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Status] [int] NOT NULL,
	[PositionId] [int] NOT NULL,
	[RegisteredDate] [datetimeoffset](7) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[MaxOfferSalary] [decimal](18, 2) NOT NULL,
	[MixOfferSalary] [decimal](18, 2) NOT NULL,
	[Description] [nvarchar](500) NULL,
 CONSTRAINT [PK_dbo.JobOffers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 6/12/2016 11:28:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[User_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Permissions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PersonLinkedDetails]    Script Date: 6/12/2016 11:28:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonLinkedDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [int] NOT NULL,
	[Category] [nvarchar](10) NOT NULL,
	[SubCategoryId] [int] NOT NULL,
	[LevelSubCategoryId] [int] NULL,
	[ApplicantDetail_ApplicantId] [int] NULL,
	[EmployeeDetail_EmployeeId] [int] NULL,
 CONSTRAINT [PK_dbo.PersonLinkedDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PersonLinkedGradings]    Script Date: 6/12/2016 11:28:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonLinkedGradings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [int] NOT NULL,
	[Description] [nvarchar](50) NOT NULL,
	[Institution] [nvarchar](50) NOT NULL,
	[FromDate] [datetime] NOT NULL,
	[ToDate] [datetime] NOT NULL,
	[ApplicantDetail_ApplicantId] [int] NULL,
	[EmployeeDetail_EmployeeId] [int] NULL,
 CONSTRAINT [PK_dbo.PersonLinkedGradings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PersonLinkedWorkingExperiences]    Script Date: 6/12/2016 11:28:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonLinkedWorkingExperiences](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [int] NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[CompanyName] [nvarchar](50) NULL,
	[FromDate] [datetimeoffset](7) NOT NULL,
	[ToDate] [datetimeoffset](7) NOT NULL,
	[ApplicantDetail_ApplicantId] [int] NULL,
	[EmployeeDetail_EmployeeId] [int] NULL,
 CONSTRAINT [PK_dbo.PersonLinkedWorkingExperiences] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserPermissions]    Script Date: 6/12/2016 11:28:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPermissions](
	[UserId] [int] NOT NULL,
	[PermissionId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.UserPermissions] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[PermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/12/2016 11:28:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](20) NULL,
	[Password] [nvarchar](500) NULL,
	[Name] [nvarchar](200) NULL,
	[CreateDate] [datetimeoffset](7) NOT NULL,
	[LastLoginDate] [datetimeoffset](7) NULL,
	[ChangePassword] [bit] NOT NULL,
	[Employee_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[ApplicantDetails] ([ApplicantId], [GradingLvlId], [ExpectedSalary]) VALUES (1, 4, CAST(20000.00 AS Decimal(18, 2)))
INSERT [dbo].[ApplicantDetails] ([ApplicantId], [GradingLvlId], [ExpectedSalary]) VALUES (2, 3, CAST(24000.00 AS Decimal(18, 2)))
INSERT [dbo].[ApplicantDetails] ([ApplicantId], [GradingLvlId], [ExpectedSalary]) VALUES (3, 2, CAST(22500.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Applicants] ON 

INSERT [dbo].[Applicants] ([Id], [Username], [Status], [ApplicationDate], [Name], [LastName], [BirthPlace], [Nationality], [BirthDate], [Sex], [Address], [PhoneHouse], [PhoneCell], [ReferencedByEmployeeCode], [JobOffer_Id]) VALUES (1, N'22021212121', 1, CAST(N'2016-06-05T17:08:44.2400000+00:00' AS DateTimeOffset), N'Ramona', N'Mercedes', N'SDQ', N'', CAST(N'2000-02-01T16:12:11.0000000-04:00' AS DateTimeOffset), 2, N'c/ Juan Juancito #666', N'8092001010', N'8092001010', N'99999', 2)
INSERT [dbo].[Applicants] ([Id], [Username], [Status], [ApplicationDate], [Name], [LastName], [BirthPlace], [Nationality], [BirthDate], [Sex], [Address], [PhoneHouse], [PhoneCell], [ReferencedByEmployeeCode], [JobOffer_Id]) VALUES (2, N'22301234801', 1, CAST(N'2016-06-05T17:08:44.2400000+00:00' AS DateTimeOffset), N'Marcos', N'Miguelin', N'SDQ', N'', CAST(N'1999-01-20T16:12:11.0000000-04:00' AS DateTimeOffset), 1, N'c/ asdsdsd', N'8092001010', N'8092001010', N'', 4)
INSERT [dbo].[Applicants] ([Id], [Username], [Status], [ApplicationDate], [Name], [LastName], [BirthPlace], [Nationality], [BirthDate], [Sex], [Address], [PhoneHouse], [PhoneCell], [ReferencedByEmployeeCode], [JobOffer_Id]) VALUES (3, N'40221212121', 1, CAST(N'2016-06-05T17:08:44.2400000+00:00' AS DateTimeOffset), N'Julio', N'Juliano', N'San Pedro', N'', CAST(N'1981-06-05T16:40:45.0000000-04:00' AS DateTimeOffset), 1, N'c/ Llego Papá #69', N'8092000000', N'', N'00128', 2)
SET IDENTITY_INSERT [dbo].[Applicants] OFF
INSERT [dbo].[Catalogs] ([Category], [SubCategoryId], [Value]) VALUES (N'COMPETENCE', 1, N'Independencia')
INSERT [dbo].[Catalogs] ([Category], [SubCategoryId], [Value]) VALUES (N'COMPETENCE', 2, N'Perseverancia')
INSERT [dbo].[Catalogs] ([Category], [SubCategoryId], [Value]) VALUES (N'COMPETENCE', 3, N'Liderazgo')
SET IDENTITY_INSERT [dbo].[Courses] ON 

INSERT [dbo].[Courses] ([Id], [Name], [Description], [StartDate], [EndDate], [Capacity]) VALUES (1, N'Curso-Taller Excel', N'Curso-Taller Excel Basico', CAST(N'2016-06-01T00:50:42.0000000-04:00' AS DateTimeOffset), CAST(N'2016-06-04T00:50:42.0000000-04:00' AS DateTimeOffset), 10)
INSERT [dbo].[Courses] ([Id], [Name], [Description], [StartDate], [EndDate], [Capacity]) VALUES (2, N'Curso-Taller Excel Avanzado', N'Curso-Taller Excel Avanzado', CAST(N'2016-06-08T00:50:42.0000000-04:00' AS DateTimeOffset), CAST(N'2016-06-08T16:50:42.0000000-04:00' AS DateTimeOffset), 20)
INSERT [dbo].[Courses] ([Id], [Name], [Description], [StartDate], [EndDate], [Capacity]) VALUES (3, N'Diplomado Gestión Humana', N'', CAST(N'2016-07-04T00:50:42.0000000-04:00' AS DateTimeOffset), CAST(N'2016-07-08T16:50:42.0000000-04:00' AS DateTimeOffset), 30)
SET IDENTITY_INSERT [dbo].[Courses] OFF
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([Id], [Name], [Description]) VALUES (1, N'Alta Gerencia', NULL)
INSERT [dbo].[Departments] ([Id], [Name], [Description]) VALUES (2, N'Dirección de Finanzas', NULL)
INSERT [dbo].[Departments] ([Id], [Name], [Description]) VALUES (3, N'Dirección de Tecnología', NULL)
SET IDENTITY_INSERT [dbo].[Departments] OFF
SET IDENTITY_INSERT [dbo].[EmployeePositions] ON 

INSERT [dbo].[EmployeePositions] ([Id], [Name], [Description], [PositionMaxSalary], [PositionMinSalary], [Department_Id]) VALUES (1, N'Gerente General', N'Persona encargada de dirigir la institución.', CAST(580000.00 AS Decimal(18, 2)), CAST(440000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[EmployeePositions] ([Id], [Name], [Description], [PositionMaxSalary], [PositionMinSalary], [Department_Id]) VALUES (2, N'Secretario General', N'Persona encargada de gestionar las reuniones y agendas de la alta gerencia.', CAST(240000.00 AS Decimal(18, 2)), CAST(295000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[EmployeePositions] ([Id], [Name], [Description], [PositionMaxSalary], [PositionMinSalary], [Department_Id]) VALUES (3, N'Gerente de IT', N'Persona encargada de dirigir el área de Tecnología de la Información.', CAST(420000.00 AS Decimal(18, 2)), CAST(360000.00 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[EmployeePositions] OFF
SET IDENTITY_INSERT [dbo].[JobOffers] ON 

INSERT [dbo].[JobOffers] ([Id], [Status], [PositionId], [RegisteredDate], [Name], [MaxOfferSalary], [MixOfferSalary], [Description]) VALUES (1, 1, 13, CAST(N'2016-06-01T00:01:13.5524182-04:00' AS DateTimeOffset), N'Encargado de Seguridad Física', CAST(35500.00 AS Decimal(18, 2)), CAST(30000.00 AS Decimal(18, 2)), N'Se encarga de coordinar el personal de seguridad física.')
INSERT [dbo].[JobOffers] ([Id], [Status], [PositionId], [RegisteredDate], [Name], [MaxOfferSalary], [MixOfferSalary], [Description]) VALUES (2, 1, 14, CAST(N'2016-06-01T00:06:09.3635648-04:00' AS DateTimeOffset), N'Personal de Seguridad Física', CAST(30500.00 AS Decimal(18, 2)), CAST(20000.00 AS Decimal(18, 2)), N'Se encarga de coordinar el personal de seguridad física.')
INSERT [dbo].[JobOffers] ([Id], [Status], [PositionId], [RegisteredDate], [Name], [MaxOfferSalary], [MixOfferSalary], [Description]) VALUES (3, 1, 10, CAST(N'2016-06-01T00:17:45.9372049-04:00' AS DateTimeOffset), N'Analista Desarrollador', CAST(62000.00 AS Decimal(18, 2)), CAST(45000.00 AS Decimal(18, 2)), N'Analiza, diseña y da mantenimiento a los sistemas de la insticución.')
SET IDENTITY_INSERT [dbo].[JobOffers] OFF
SET IDENTITY_INSERT [dbo].[Permissions] ON 

INSERT [dbo].[Permissions] ([Id], [Name], [User_Id]) VALUES (1, N'Gestión de Usuarios', NULL)
INSERT [dbo].[Permissions] ([Id], [Name], [User_Id]) VALUES (2, N'Gestión de Empleados', NULL)
INSERT [dbo].[Permissions] ([Id], [Name], [User_Id]) VALUES (3, N'Gestión de Ofertas de Trabajo', NULL)
SET IDENTITY_INSERT [dbo].[Permissions] OFF
SET IDENTITY_INSERT [dbo].[PersonLinkedDetails] ON 

INSERT [dbo].[PersonLinkedDetails] ([Id], [Type], [Category], [SubCategoryId], [LevelSubCategoryId], [ApplicantDetail_ApplicantId], [EmployeeDetail_EmployeeId]) VALUES (1, 2, N'LANGUAGE', 1, 2, 1, NULL)
INSERT [dbo].[PersonLinkedDetails] ([Id], [Type], [Category], [SubCategoryId], [LevelSubCategoryId], [ApplicantDetail_ApplicantId], [EmployeeDetail_EmployeeId]) VALUES (2, 2, N'COMPETENCE', 1, NULL, 1, NULL)
INSERT [dbo].[PersonLinkedDetails] ([Id], [Type], [Category], [SubCategoryId], [LevelSubCategoryId], [ApplicantDetail_ApplicantId], [EmployeeDetail_EmployeeId]) VALUES (3, 2, N'COMPETENCE', 2, NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[PersonLinkedDetails] OFF
SET IDENTITY_INSERT [dbo].[PersonLinkedGradings] ON 

INSERT [dbo].[PersonLinkedGradings] ([Id], [Type], [Description], [Institution], [FromDate], [ToDate], [ApplicantDetail_ApplicantId], [EmployeeDetail_EmployeeId]) VALUES (1, 0, N'Bachiller', N'Escuela Uno', CAST(N'2010-02-02 16:12:11.000' AS DateTime), CAST(N'2016-06-05 16:12:11.157' AS DateTime), 1, NULL)
INSERT [dbo].[PersonLinkedGradings] ([Id], [Type], [Description], [Institution], [FromDate], [ToDate], [ApplicantDetail_ApplicantId], [EmployeeDetail_EmployeeId]) VALUES (2, 0, N'Bachiller', N'Escuela Publica Agustina', CAST(N'1997-06-05 16:40:45.000' AS DateTime), CAST(N'2001-06-04 16:40:45.000' AS DateTime), 3, NULL)
SET IDENTITY_INSERT [dbo].[PersonLinkedGradings] OFF
SET IDENTITY_INSERT [dbo].[PersonLinkedWorkingExperiences] ON 

INSERT [dbo].[PersonLinkedWorkingExperiences] ([Id], [Type], [Description], [CompanyName], [FromDate], [ToDate], [ApplicantDetail_ApplicantId], [EmployeeDetail_EmployeeId]) VALUES (1, 0, N'Tecnico', N'Zona France', CAST(N'2010-01-19T16:12:11.0000000-04:00' AS DateTimeOffset), CAST(N'2016-06-05T16:12:11.1566616-04:00' AS DateTimeOffset), 2, NULL)
INSERT [dbo].[PersonLinkedWorkingExperiences] ([Id], [Type], [Description], [CompanyName], [FromDate], [ToDate], [ApplicantDetail_ApplicantId], [EmployeeDetail_EmployeeId]) VALUES (2, 0, N'Contable', N'Empresa Dos', CAST(N'2015-06-07T16:12:11.0000000-04:00' AS DateTimeOffset), CAST(N'2016-06-05T16:12:11.1566616-04:00' AS DateTimeOffset), 2, NULL)
INSERT [dbo].[PersonLinkedWorkingExperiences] ([Id], [Type], [Description], [CompanyName], [FromDate], [ToDate], [ApplicantDetail_ApplicantId], [EmployeeDetail_EmployeeId]) VALUES (3, 0, N'Tecnico', N'Empresa Uno', CAST(N'2010-06-05T16:40:45.0000000-04:00' AS DateTimeOffset), CAST(N'2016-06-05T16:40:45.4173746-04:00' AS DateTimeOffset), 3, NULL)
SET IDENTITY_INSERT [dbo].[PersonLinkedWorkingExperiences] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [Password], [Name], [CreateDate], [LastLoginDate], [ChangePassword], [Employee_Id]) VALUES (1, N'99999', N'manager', N'System Administrator', CAST(N'2016-06-05T15:40:46.1652756-04:00' AS DateTimeOffset), NULL, 0, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  Index [IX_JobOffer_Id]    Script Date: 6/12/2016 11:28:26 AM ******/
CREATE NONCLUSTERED INDEX [IX_JobOffer_Id] ON [dbo].[Applicants]
(
	[JobOffer_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CourseId]    Script Date: 6/12/2016 11:28:26 AM ******/
CREATE NONCLUSTERED INDEX [IX_CourseId] ON [dbo].[CourseQuorums]
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Department_Id]    Script Date: 6/12/2016 11:28:26 AM ******/
CREATE NONCLUSTERED INDEX [IX_Department_Id] ON [dbo].[EmployeePositions]
(
	[Department_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DepartmentId]    Script Date: 6/12/2016 11:28:26 AM ******/
CREATE NONCLUSTERED INDEX [IX_DepartmentId] ON [dbo].[Employees]
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PositionId]    Script Date: 6/12/2016 11:28:26 AM ******/
CREATE NONCLUSTERED INDEX [IX_PositionId] ON [dbo].[Employees]
(
	[PositionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PositionId]    Script Date: 6/12/2016 11:28:26 AM ******/
CREATE NONCLUSTERED INDEX [IX_PositionId] ON [dbo].[JobOffers]
(
	[PositionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_User_Id]    Script Date: 6/12/2016 11:28:26 AM ******/
CREATE NONCLUSTERED INDEX [IX_User_Id] ON [dbo].[Permissions]
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ApplicantDetail_ApplicantId]    Script Date: 6/12/2016 11:28:26 AM ******/
CREATE NONCLUSTERED INDEX [IX_ApplicantDetail_ApplicantId] ON [dbo].[PersonLinkedDetails]
(
	[ApplicantDetail_ApplicantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmployeeDetail_EmployeeId]    Script Date: 6/12/2016 11:28:26 AM ******/
CREATE NONCLUSTERED INDEX [IX_EmployeeDetail_EmployeeId] ON [dbo].[PersonLinkedDetails]
(
	[EmployeeDetail_EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ApplicantDetail_ApplicantId]    Script Date: 6/12/2016 11:28:26 AM ******/
CREATE NONCLUSTERED INDEX [IX_ApplicantDetail_ApplicantId] ON [dbo].[PersonLinkedGradings]
(
	[ApplicantDetail_ApplicantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmployeeDetail_EmployeeId]    Script Date: 6/12/2016 11:28:26 AM ******/
CREATE NONCLUSTERED INDEX [IX_EmployeeDetail_EmployeeId] ON [dbo].[PersonLinkedGradings]
(
	[EmployeeDetail_EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ApplicantDetail_ApplicantId]    Script Date: 6/12/2016 11:28:26 AM ******/
CREATE NONCLUSTERED INDEX [IX_ApplicantDetail_ApplicantId] ON [dbo].[PersonLinkedWorkingExperiences]
(
	[ApplicantDetail_ApplicantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmployeeDetail_EmployeeId]    Script Date: 6/12/2016 11:28:26 AM ******/
CREATE NONCLUSTERED INDEX [IX_EmployeeDetail_EmployeeId] ON [dbo].[PersonLinkedWorkingExperiences]
(
	[EmployeeDetail_EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Employee_Id]    Script Date: 6/12/2016 11:28:26 AM ******/
CREATE NONCLUSTERED INDEX [IX_Employee_Id] ON [dbo].[Users]
(
	[Employee_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Applicants]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Applicants_dbo.JobOffers_JobOffer_Id] FOREIGN KEY([JobOffer_Id])
REFERENCES [dbo].[JobOffers] ([Id])
GO
ALTER TABLE [dbo].[Applicants] CHECK CONSTRAINT [FK_dbo.Applicants_dbo.JobOffers_JobOffer_Id]
GO
ALTER TABLE [dbo].[CourseQuorums]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CourseQuorums_dbo.Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CourseQuorums] CHECK CONSTRAINT [FK_dbo.CourseQuorums_dbo.Courses_CourseId]
GO
ALTER TABLE [dbo].[EmployeePositions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EmployeePositions_dbo.Departments_Department_Id] FOREIGN KEY([Department_Id])
REFERENCES [dbo].[Departments] ([Id])
GO
ALTER TABLE [dbo].[EmployeePositions] CHECK CONSTRAINT [FK_dbo.EmployeePositions_dbo.Departments_Department_Id]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Employees_dbo.Departments_DepartmentId] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_dbo.Employees_dbo.Departments_DepartmentId]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Employees_dbo.EmployeePositions_PositionId] FOREIGN KEY([PositionId])
REFERENCES [dbo].[EmployeePositions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_dbo.Employees_dbo.EmployeePositions_PositionId]
GO
ALTER TABLE [dbo].[JobOffers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.JobOffers_dbo.EmployeePositions_PositionId] FOREIGN KEY([PositionId])
REFERENCES [dbo].[EmployeePositions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[JobOffers] CHECK CONSTRAINT [FK_dbo.JobOffers_dbo.EmployeePositions_PositionId]
GO
ALTER TABLE [dbo].[Permissions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Permissions_dbo.Users_User_Id] FOREIGN KEY([User_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Permissions] CHECK CONSTRAINT [FK_dbo.Permissions_dbo.Users_User_Id]
GO
ALTER TABLE [dbo].[PersonLinkedDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PersonLinkedDetails_dbo.ApplicantDetails_ApplicantDetail_ApplicantId] FOREIGN KEY([ApplicantDetail_ApplicantId])
REFERENCES [dbo].[ApplicantDetails] ([ApplicantId])
GO
ALTER TABLE [dbo].[PersonLinkedDetails] CHECK CONSTRAINT [FK_dbo.PersonLinkedDetails_dbo.ApplicantDetails_ApplicantDetail_ApplicantId]
GO
ALTER TABLE [dbo].[PersonLinkedDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PersonLinkedDetails_dbo.EmployeeDetails_EmployeeDetail_EmployeeId] FOREIGN KEY([EmployeeDetail_EmployeeId])
REFERENCES [dbo].[EmployeeDetails] ([EmployeeId])
GO
ALTER TABLE [dbo].[PersonLinkedDetails] CHECK CONSTRAINT [FK_dbo.PersonLinkedDetails_dbo.EmployeeDetails_EmployeeDetail_EmployeeId]
GO
ALTER TABLE [dbo].[PersonLinkedGradings]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PersonLinkedGradings_dbo.ApplicantDetails_ApplicantDetail_ApplicantId] FOREIGN KEY([ApplicantDetail_ApplicantId])
REFERENCES [dbo].[ApplicantDetails] ([ApplicantId])
GO
ALTER TABLE [dbo].[PersonLinkedGradings] CHECK CONSTRAINT [FK_dbo.PersonLinkedGradings_dbo.ApplicantDetails_ApplicantDetail_ApplicantId]
GO
ALTER TABLE [dbo].[PersonLinkedGradings]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PersonLinkedGradings_dbo.EmployeeDetails_EmployeeDetail_EmployeeId] FOREIGN KEY([EmployeeDetail_EmployeeId])
REFERENCES [dbo].[EmployeeDetails] ([EmployeeId])
GO
ALTER TABLE [dbo].[PersonLinkedGradings] CHECK CONSTRAINT [FK_dbo.PersonLinkedGradings_dbo.EmployeeDetails_EmployeeDetail_EmployeeId]
GO
ALTER TABLE [dbo].[PersonLinkedWorkingExperiences]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PersonLinkedWorkingExperiences_dbo.ApplicantDetails_ApplicantDetail_ApplicantId] FOREIGN KEY([ApplicantDetail_ApplicantId])
REFERENCES [dbo].[ApplicantDetails] ([ApplicantId])
GO
ALTER TABLE [dbo].[PersonLinkedWorkingExperiences] CHECK CONSTRAINT [FK_dbo.PersonLinkedWorkingExperiences_dbo.ApplicantDetails_ApplicantDetail_ApplicantId]
GO
ALTER TABLE [dbo].[PersonLinkedWorkingExperiences]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PersonLinkedWorkingExperiences_dbo.EmployeeDetails_EmployeeDetail_EmployeeId] FOREIGN KEY([EmployeeDetail_EmployeeId])
REFERENCES [dbo].[EmployeeDetails] ([EmployeeId])
GO
ALTER TABLE [dbo].[PersonLinkedWorkingExperiences] CHECK CONSTRAINT [FK_dbo.PersonLinkedWorkingExperiences_dbo.EmployeeDetails_EmployeeDetail_EmployeeId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.Employees_Employee_Id] FOREIGN KEY([Employee_Id])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.Employees_Employee_Id]
GO
USE [master]
GO
